.App {
  text-align: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.post-card {
  border: solid 2px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(230, 183, 134);
  border-radius: 10px 10px 10px;
}

.card-content {
  border: solid 2px;
  padding: 10px;
  background-color: rgb(199, 230, 134);
  margin: 10px;
  border-radius: 10px 10px 10px;
}

.card-title {
text-decoration: underline;
}

.Header {
  background-color: rgb(168, 117, 241);
  padding: 2px;
  text-align: center;
  margin: 1rem;
  border-radius: 10px 10px 10px;
}
